html {
    font-family: 'Alegreya Sans', sans-serif;
    color: #96D2D9;
    font-size: 20px;
}

body {
    background-color: #062A40;
    width: 95%;
    margin: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "links"
        "main"
        "footer";
}

header {
    background-color: #60AEBF;
    color: #03258C;
    border-radius: 5px;
    text-align: center;

    margin: 5px 0;
    padding: 5px;

    grid-area: header;
}

header h1, header h2 {
    margin: 10px 5px 0;
}

.hamburger {
    padding-left: 5px;
    margin-top: -30px;
}

.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    transition: 0.4s;
}

.hamburger .bar2 {
    margin: 6px 0;
}

.hamburger.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.hamburger.change .bar2 {
    opacity: 0;
}

.hamburger.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

nav.navbar > ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0 0 5px;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0 5px;

    transition:height 0.75s ease-out;
    height: 111px;
    overflow: hidden;
}

nav.navbar > ul.hidden {
    height: 0px;
}

nav.navbar ul li {
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0 2px;
    
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    box-shadow: 2px 2px black;
}

nav.navbar a {
    text-align: center;
    padding: 2px;
    color: #03258C;
    text-decoration: none;
    display: block;
}

nav.navbar li.active, nav.navbar li:hover {
    border: 1px solid #559BAB;
    background-color: #559BAB;
}

aside.links {
    grid-area: links;
    background-color: #60AEBF;
    border-radius: 5px;
    padding: 0;
    display: inline-flex;

    padding: 15px 0.5em;
}

aside.links figure {
    margin: 0 auto;
    height: 2em;
    flex-grow: 1;
    display: inline-flex;
}

aside.links a {
    color: #60AEBF;
    margin: 0 auto;
}

aside.links img {
    height: 2em;
}

aside.links figcaption {
    color: #03258C;
    display: none;
    font-size: 0.75em;
    margin: auto 5px;
}

main {
    grid-area: main;
    margin: 0 10px;
}

footer {
    grid-area: footer;
    margin: 0.5em 0;
    padding: 3px 8px;
    border-top: 1px solid #559BAB;
    font-size: 0.5em;
    text-align: right;
}

@media screen and (min-width: 280px) {
    .hamburger {
        margin-top: 0;
        padding-top: 6px;
    }
}

@media screen and (min-width: 314px) {
    nav.navbar > ul {
        height: 74px;
    }
}

@media screen and (min-width: 390px) {
    nav.navbar ul li {
        padding: 0 10px;
    }
}

@media screen and (min-width: 430px) {
    header h2 {
        margin: 10px 50px 0;
    }

    nav.navbar ul li {
        padding: 0 20px;
    }
}

@media screen and (min-width: 500px) {
    body {
        margin: 5px auto;
    }

    .hamburger, .hamburger.change {
        display: none;
    }

    nav.navbar > ul, nav.navbar > ul.hidden {
        height: auto;
    }

    nav.navbar ul li {
        padding: 0px;
    }
    
    aside.links a {
        margin: 0;
    }

    aside.links figcaption {
        display: block;
    }
}

@media screen and (min-width: 690px) {
    body {
        width: 95%;
    
        grid-template-columns: 4em auto;
        grid-template-areas: 
            "header header"
            "links main"
            ". main"
            "footer footer";
    }

    aside.links {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0.5em 0 0;
        padding: 0.25em;
    }

    aside.links figure {
        margin: 0.5em;
    }

    aside.links figcaption {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    body {
        width: 855px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        width: 950px;

        grid-template-areas: 
            "links header"
            "links main"
            ". main"
            "footer footer";
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 1140px;
    }
}

@media screen and (min-width: 1500px) {
    html {
        font-size: 25px;
    }

    body {
        width: 1425px;
    }
}